{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>
<body>

    <nav class="navbar">
        <a href="{% url 'home' %}" class="brand">Brand Name</a>
        <ul class="nav-list">
            <li class="nav-item"><a href="#" class="nav-link">Link 1</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Link 2</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Link 3</a></li>
        </ul>
    </nav>

    <main class="container">
        {% block content %}
        
        {% endblock %}
    </main>
    
</body>
</html>